@page "/iletisim"
@model GamingStore.WebUI.Pages.ContactModel
@{
}

<div class="text-center border my-5 rounded">
    <div class="display-6">Bize Ulaşın</div>
    <div class="lead">
        <i class="fa fa-phone text-primary my-3"></i>
        <p>0850 555 5424</p>


        <i class="fa-solid fa-envelope text-primary my-3"></i>
        <p>bilgi@gamingstore.com.tr</p>
        <i class="fa-solid fa-address-book text-primary my-3"></i>

        <p>
            Ünalan, Libadiye Cd. No:88, 34700 Üsküdar/İstanbul
        </p>
    </div>

    <!-- Google Maps -->
    <div class="my-4">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d24080.914302215908!2d29.0716489!3d41.0227555!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac7de4d07f7ef%3A0xbc3f51296f041508!2sEmaar%20Square%20AVM!5e0!3m2!1str!2str!4v1755193535557!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
