<footer class="bg-dark text-light mt-5 pt-5 pb-4" style="position: relative; z-index: 1;">
    <div class="container">
        <div class="row align-items-center">
            <!-- Logo & Site Bilgisi -->
            <div class="col-md-3 text-center text-md-start mb-3 mb-md-0">
                <div class="lead">
                    <i class="fa-solid fa-store text-white display-6"></i>
                    <br />
                    <strong>Gaming Store</strong>
                </div>
            </div>
            <!-- Ortadaki Bilgi -->
            <div class="col-md-6 text-center mb-3 mb-md-0">
                <p class="text-light mb-2">&copy; 2025 Gaming Store</p>
                <div class="btn-group">
                    <a href="#" class="btn btn-outline-light"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#" class="btn btn-outline-light"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#" class="btn btn-outline-light"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="#" class="btn btn-outline-light"><i class="fa-brands fa-youtube"></i></a>
                    <a href="#" class="btn btn-outline-light"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
            <!-- Linkler -->
            <div class="col-md-3 text-center text-md-end">
                <ul class="list-unstyled mb-0">
                    <li><a href="/iletisim" class="text-decoration-none text-light">Bize Ulaşın</a></li>
                    <li><a href="/hakkimizde" class="text-decoration-none text-light">Hakkımızda</a></li>
                    <li><a href="/ik" class="text-decoration-none text-light">İnsan Kaynakları</a></li>

                </ul>
            </div>
        </div>
    </div>
</footer>